
.marginal {
  margin-left: 30%;
  width: 40%;
}
button.my-4.waves-effect.z-depth-0.bttn.btn.btn-rounded.btn-outline-info.btn-block {
  width: 40%;
  margin-left: 35%;
}



@media screen and (max-width: 1060px){

  .marginal.mrgset {
    width: 100%;
    margin-left: 1%;
}

.srmc {
  width: 110%;
  margin-left: -10%;
}
}
