
<h3 class="strt"><b>
    General Learning</b></h3>
<!-- Card --><a href="#!" class="green-text">
          <h2 style="color:darkblue">Sridhar Kokkirigadda</h2>
          <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
          <h6 class="src"><b>Source:Facebook</b></h6>
      </a>
<mdb-card style="background-image: url('assets/img/g1.jpg')"
          class="card-image mb-3">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h3 class="pink-text">

      <b>Jeevan Amar</b>
      </h3>
      <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a href="https://www.licindia.in/Products/Insurance-Plan/LIC-s-Jeevan-Amar" mdbBtn color="pink" class="waves-light" mdbWavesEffect>
        <mdb-icon far icon="clone" class="left"></mdb-icon>
        View project</a>
    </div>
  </div>
  <!-- Content -->
</mdb-card>
<!-- Card -->

<!-- Card -->
<a href="#!" class="green-text">
    <h2 style="color:darkblue">Deelip Salluri</h2>
    <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
    <h6 class="src"><b>Source:Facebook</b></h6>
</a>
<mdb-card style="background-image: url('assets/img/g2.jpg')"
          class="card-image mb-3">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
    <div>
      <h3 class="orange-text">
        <mdb-icon ></mdb-icon>
        <b>Online term insurance</b>
      </h3>
      <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a href="https://eterm.licindia.in/onlinePlansIndex/login.do" mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
        <mdb-icon far icon="clone" class="left"></mdb-icon>
        View
        project</a>
    </div>
  </div>
  <!-- Content -->
</mdb-card>
<!-- Card -->


<!-- Card -->
<a href="#!" class="green-text">
    <h2 style="color:darkblue">Abhiram</h2>
    <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
    <h6 class="src"><b>Source:Facebook</b></h6>
</a>
<mdb-card style="background-image: url('assets/img/g3.jpg')"
          class="card-image mb-3">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h2 class="pink-text">
        <mdb-icon ></mdb-icon>
        <b>E-term plans</b>
      </h2>
      <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a  href="https://eterm.licindia.in/onlinePlansIndex/etermmain.do" mdbBtn color="pink" class="waves-light" mdbWavesEffect>
        <mdb-icon far icon="clone" class="left"></mdb-icon>
        View project</a>
    </div>
  </div>
  <!-- Content -->
</mdb-card>
<!-- Card -->

<!-- Card -->
<a href="#!" class="green-text">
    <h2 style="color:darkblue">Deelip Salluri</h2>
    <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
    <h6 class="src"><b>Source:Facebook</b></h6>
</a>
<mdb-card style="background-image: url('assets/img/jeevanlabh.jpg')"
          class="card-image mb-3">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
    <div>
      <h2 class="orange-text">
        <mdb-icon ></mdb-icon>
        <b>Jeevan Labh</b>
      </h2>
      <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a  href="https://www.licindia.in/Products/Insurance-Plan/Jeevan-Labh" mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
        <mdb-icon far icon="clone" class="left"></mdb-icon>
        View
        project</a>
    </div>
  </div>
  <!-- Content -->
</mdb-card>
<!-- Card -->


<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
