.row.head {
  margin-left: 40%;
}
h3.strt {
  background-color: darkblue;
  color: white;
  padding: 1%;
}

  @media screen and (max-width: 1060px){
    .row.mr-left {
        margin-left: -32%;
    }

    .content.ctn {
      margin-left: 5%;
    }
    }
