
<h3 class="strt"><b>
    General Learning</b></h3>
<div class="row" style="margin-bottom: 2%">
  <div class="col-md-4">
      <a href="#!" class="green-text">
          <h2 style="color:darkblue">Deelip Salluri</h2>
          <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
          <h6 class="src"><b>Source:Facebook</b></h6>
      </a>
    <!--Card-->
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/SBI-Life.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-0">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title">
          <strong>If your needs change with age, Why shouldn’t your financial planning?</strong>
        </h4>
        <h5 class="indigo-text">
          <strong>With SBI Life – Poorna Suraksha Plan, auto-rebalance Life and Critical Illness cover as you age, for more effective protection.
          </strong>
        </h5>

        <mdb-card-text>
          This Term Insurance product with Critical Illness cover offers:
Security - Comprehensive protection in case of death and critical illness
Simplicity - Re-balances your life and critical illness cover on every policy anniversary
Reliability - A lump sum payout providing financial support in case of diagnosis of any of the covered 36 critical illnesses and waiver of all future premiums.

        </mdb-card-text>

        <!--Linkedin-->
        <a class="px-2 icons-sm li-ic" href="https://www.sbilife.co.in/en/individual-life-insurance/traditional/poorna-suraksha">
          <mdb-icon fab icon="linkedin-in"> </mdb-icon>
        </a>
        <!--Twitter-->
        <a class="px-2 icons-sm tw-ic" href="https://www.sbilife.co.in/en/individual-life-insurance/traditional/poorna-suraksha">
          <mdb-icon fab icon="twitter"> </mdb-icon>
        </a>
        <!--Dribbble-->
        <a class="px-2 icons-sm fb-ic" href="https://www.sbilife.co.in/en/individual-life-insurance/traditional/poorna-suraksha">
          <mdb-icon fab icon="facebook-f"> </mdb-icon>
        </a>

        <!-- Card footer -->
        <div class="card-footer text-muted text-center mt-4">
          2 days ago
        </div>


      </mdb-card-body>
      <!--/.Card content-->




    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4">
      <a href="#!" class="green-text">
          <h2 style="color:darkblue">Deelip Salluri</h2>
          <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
          <h6 class="src"><b>Source:Facebook</b></h6>
      </a>
    <!--Card-->
    <mdb-card cascade="true" narrower="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/HDFC-Life.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-0 px-0">
        <!--Card content-->
        <h5 class="pink-text">
          <mdb-icon></mdb-icon> Health Insurance Plans and Policies by HDFC Life</h5>
        <!--Title-->

        <!--Text-->

        <mdb-card-text>
          HDFC Life provides a variety of Health Insurance Plans & Mediclaim Policies that offer financial security to meet health related contingencies. Due to changing lifestyles, health issues have not just escalated, they have increasingly become more complex in nature. It becomes imperative therefore to have a health insurance plan in place, thus your financial planning is incomplete if you have not accounted for health.
          Changing lifestyles are causing diseases with expensive and prolonged treatments.

          A Health insurance plan helps cushion your family finances from unexpected large medical expenses

        </mdb-card-text>

        <a mdbBtn color="unique" href="https://www.hdfclife.com/health-insurance-plans" class="waves-light"  mdbWavesEffect>Button</a>

        <!-- Card footer -->
        <div class="card-footer text-muted text-center mt-4">
          2 days ago
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4">
      <a href="#!" class="green-text">
          <h2 style="color:darkblue">Deelip Salluri</h2>
          <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
          <h6 class="src"><b>Source:Facebook</b></h6>
      </a>
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/icici.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-0 px-0">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Term Life Insurance Plans</strong>
        </h4>
        <h5>Web developer</h5>

        <mdb-card-text>
          Term Life Insurance plan ensures financial protection and stability to your family in case of any unforeseen events.
          Protection: A term life insurance helps in securing family's future in your absence. From taking care of the daily expenses, to other, more significant expenses like professional education for the children and their marriage, having a safety net helps.
Tax Benefits: Apart from the benefit of protection, term insurance plan also offers you tax benefits under Sec 80C up to Rs. 1,50,000. tax limits.
        </mdb-card-text>

        <!--Facebook-->
        <a type="button" href="https://www.icicibank.com/Personal-Banking/insurance/life-insurance/life-insurance-plans.page?#toptitle" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <!--Twitter-->
        <a type="button" href="https://www.icicibank.com/Personal-Banking/insurance/life-insurance/life-insurance-plans.page?#toptitle" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" href="https://www.icicibank.com/Personal-Banking/insurance/life-insurance/life-insurance-plans.page?#toptitle" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a>



      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>


<div class="row">
  <div class="col-md-4">
      <a href="#!" class="green-text">
          <h2 style="color:darkblue">Deelip Salluri</h2>
          <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
          <h6 class="src"><b>Source:Facebook</b></h6>
      </a>
    <!--Card-->
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/max.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-0">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title">
          <strong>Child Plan</strong>
        </h4>
        <h5 class="indigo-text">
          <strong>A child plan is a type of ULIP that helps you create wealth to support your child’s higher education. These plans provide you the flexibility to invest into different funds, based on your current financial status and your child’s education needs.</strong>
        </h5>

        <mdb-card-text>
          In general, child insurance plans provide a life cover, which is approximately 10 times the annual pay. The life cover is available as a lumpsum payment at the end of the policy tenure. Not only this, child plans provide flexible payout options to help you take care of the important milestones of your child's education.
        </mdb-card-text>

        <!--Linkedin-->
        <a href="https://www.maxlifeinsurance.com/life-insurance-plans" class="px-2 icons-sm li-ic">
          <mdb-icon fab icon="linkedin-in"> </mdb-icon>
        </a>
        <!--Twitter-->
        <a href="https://www.maxlifeinsurance.com/life-insurance-plans" class="px-2 icons-sm tw-ic">
          <mdb-icon fab icon="twitter"> </mdb-icon>
        </a>
        <!--Dribbble-->
        <a href="https://www.maxlifeinsurance.com/life-insurance-plans" class="px-2 icons-sm fb-ic">
          <mdb-icon fab icon="facebook-f"> </mdb-icon>
        </a>




      </mdb-card-body>
      <!--/.Card content-->




    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4">
      <a href="#!" class="green-text">
          <h2 style="color:darkblue">Deelip Salluri</h2>
          <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
          <h6 class="src"><b>Source:Facebook</b></h6>
      </a>
    <!--Card-->
    <mdb-card cascade="true" narrower="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/aviva.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-0 px-0">
        <!--Card content-->
        <h5 class="pink-text">
          <mdb-icon ></mdb-icon>Aviva i-Term Smart</h5>
        <!--Title-->
        <h4 class="card-title">A smarter way to secure your family
        </h4>
        <!--Text-->

        <mdb-card-text>

          Life cover up to the age of 80 yearsOption to increase coverage during the policy termCoverage against 16 critical illnesses and disabilities*Tax benefits** on premiums paid
          On purchase of Aviva Critical Illness and Disability Rider - Non Linked Rider
          ** Tax benefits are as per the prevailing Income Tax Laws including the Income Tax Act, 1961 and are subject to change from time to time
           terms and conditions please read sales brochure carefully before concluding a sale. Riders are not mandatory and are available for a nominal extra cost. Please read respective rider brochure before taking a decision.
        </mdb-card-text>

        <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>


      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4">
      <a href="#!" class="green-text">
          <h2 style="color:darkblue">Deelip Salluri</h2>
          <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
          <h6 class="src"><b>Source:Facebook</b></h6>
      </a>
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="assets/img/aditya.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-0 px-0">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Active Health ESSENTIAL</strong>
        </h4>
        <h5>SMART AND AFFORDABLE COVER</h5>

        <mdb-card-text>
          Flexibility in choice of room category
527 day care procedures are covered
No reduction in cumulative bonus in case of a claim, unless utilized

HealthReturnsTM – Earn upto 30% of your policy premium back by staying healthy
 </mdb-card-text>

        <!--Facebook-->
        <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a>


      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>


<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
