p {
    font-weight: bolder;
    color: cadetblue;
}
.col-md-10 {
    margin-left: 25%;
}
h3.strt {
  background-color: darkblue;
  color: white;
  padding: 1%;
}
@media screen and (max-width: 1060px){
.row.m-left {
  margin-left: -18%;
}
.row.vl-c {
  margin-left: -28%;
  margin-top: 12%;
}
.container.flot {
  margin-left: -5%;
}
}
