
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 20px;
}

th {
  text-align: left;
}
th.min {
  width: 10%;
}
h3.card-header.text-center.font-weight-bold.text-uppercase.py-4 {
  color: white;
  background-color: darkblue;
}
