
<h2>Add New Agents</h2>
<div class="example-container">
  <div>
    <h3><b>Send Email:</b></h3>
  </div>
  <mat-form-field>
    <input matInput placeholder="Enter Email Address"  required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div class="example-button-row edit">

  <button mat-raised-button color="primary">Send</button>

</div>
