.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
  margin-left:30%;
}
h2 {

padding:1%;
  color: white;
  background-color: darkblue;
  width: 100%;
  margin-bottom: 10%;
}

.example-button-row.edit {
  margin-left: 45%;
}
button.mat-raised-button.mat-primary {
  width: 25%;
}


@media (min-width: 576px) { }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) { }
