#heading{
  color:white;
  font-weight:bold;
  margin-left: 35%;
}

input.form-control {
    margin-bottom: 8%;
    font-size: small;
    border-radius:15px;
    width: 100%;
    padding: 1%;

}
select.form-control{
  border-radius:15px;

}
.f1 {
    font-size: inherit;
    font-weight: initial;
    margin-left: -118%;
}
.hide {
  visibility: hidden;
}

.pagination {
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
  min-height: 50px;

  text-align: center;
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
  width: 58%;
  padding: 1%;
  margin-top: 1%;
}

.prev1, .next1 {
  float: left;
  text-align: center;
  cursor: pointer;
  background-color:#edecec;
  padding: 1%;
  margin-top: 1%;
  margin-left: 8%;
}

.content {
  clear: both;
}

.pageNum {
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}
.navActive {
    background: #bbb;
    color: white;
  }
#approvelist{
	background-color:#fafafa;
	margin-bottom:3%;
}
#aprrovecol{
	margin-right: 8%;
}
p{
	font-weight:bolder;
}
.row.set {
  margin-left: 30%;

}
.col-md-8 {
  margin-left: 18%;
  margin-top: -2%;
}

select.form-control.wid {
  width:100%;
  margin-left:35%;
  padding: 1%;
  margin-top: -9%;
}


input.form-control.value {
  width: 50%;
  margin-left: 25%;
}
.f2.f3 {
  font-size: inherit;
  font-weight: initial;
  margin-left: -37%;
}

h3 {
  color: white;
  background-color: darkblue;
  padding:1%;
}
@media screen and (max-width: 1060px){

  select.form-control.wid.resp {
    margin-left: 0%;
}
.f1.f2 {
  margin-left: -40%;
}

}
