
<h3 style="text-align: center">
  Set/Edit Targets</h3>
<div class="col-md-10">
  <div class="row" style="margin-top:5%;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row set">
          <div class="col-md-4">
            <div class=" f2 f3">Set Target For:</div>            </div>
              <div class="col-md-8">
                <select class="form-control wid resp">Select One..
                  <option>Beginner</option>
                  <option>Intermediate</option>
                  <option>Advanced</option>
                  <option>Star</option>
                  <option>Individual</option>
                  <option>All</option>
                </select>
              </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row set" style="margin-top:5%;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
          <div class="col-md-4">
            <div class="f1 f2">No. of Policies :</div>            </div>
              <div class="col-md-8">
                <input type="text" name="sno" placeholder="Type here..." class="form-control">
              </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row set">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
          <div class="col-md-4">
            <div class="f1 f2">Sum Assured :</div>            </div>
              <div class="col-md-8">
                <input type="text" name="sno" placeholder="Type here..." class="form-control">
              </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row set">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
          <div class="col-md-4"></div>
            <div class="col-md-8">
              <input type="Submit" name="sno" placeholder="Set Target" class="form-control value" value="Set Target" style="background-color: #1d4e9e; color:white;border: none;">
              </div>
            </div>
    </div>
    </div>
  </div>
