
<h3><b>
  Newly Launched Plans</b></h3>
<div class="row">

    <div class="col-md-4">
        <a href="#!" class="green-text">
            <h2 style="color:darkblue">Sridhar kokkirigadda</h2>
            <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
            <h6 class="src"><b>Source:Facebook</b></h6>
        </a>

      <!--Card-->
      <mdb-card cascade="true" wider="true">

        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/amar.png"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->

        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->


          <h5 class="indigo-text">
              <strong>Jeevan Amar</strong>
          </h5>

          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>



        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>

    <div class="col-md-4">
        <a href="#!" class="green-text">
            <h2 style="color:darkblue">Deelip Salluri</h2>
            <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
            <h6 class="src"><b>Source:Facebook</b></h6>
        </a>

      <!--Card-->
      <mdb-card cascade="true" narrower="true">

        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/jeevanlabh.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->

        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h5 class="pink-text">
            <mdb-icon ></mdb-icon> Jeevanlabh</h5>


          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>



        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
        <a href="#!" class="green-text">
            <h2 style="color:darkblue">Harisha </h2>
            <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
            <h6 class="src"><b>Source:Facebook</b></h6>
        </a>

      <!--Card-->
      <mdb-card cascade="true" narrower="true">

        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/jeevanlabh.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->

        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h5 class="pink-text">
            <mdb-icon ></mdb-icon> Jeevanlabh</h5>


          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>



        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>

    <div class="col-md-4">
        <a href="#!" class="green-text">
            <h2 style="color:darkblue">Yathesha</h2>
            <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
            <h6 class="src"><b>Source:Facebook</b></h6>
        </a>

      <!--Card-->
      <mdb-card cascade="true" narrower="true">

        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/jeevanlabh.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->

        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h5 class="pink-text">
            <mdb-icon ></mdb-icon> Jeevanlabh</h5>


          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>



        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
        <a href="#!" class="green-text">
            <h2 style="color:darkblue">Laxman</h2>
            <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
            <h6 class="src"><b>Source:Facebook</b></h6>
        </a>

      <!--Card-->
      <mdb-card cascade="true" narrower="true">

        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/jeevanlabh.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->

        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h5 class="pink-text">
            <mdb-icon ></mdb-icon> Jeevanlabh</h5>


          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>



        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>

    <div class="col-md-4">
        <a href="#!" class="green-text">
            <h2 style="color:darkblue">Abhiram Kolachalam</h2>
            <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
            <h6 class="src"><b>Source:Facebook</b></h6>
        </a>

      <!--Card-->
      <mdb-card cascade="true">

        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/jeevan-anand.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->

        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="card-title" style="color:darkblue">
            <strong>Jeevan-anand</strong>
          </h4>


          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>


        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
<!-- card 2 -->

  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
