<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="login(loginForm.form.value)" #loginForm="ngForm">
      <p>
        <mat-form-field>
          <input type="text" name="email" ngModel matInput placeholder="Email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" name="password" ngModel matInput placeholder="Password">
        </mat-form-field>
      </p>

      <!-- <p *ngIf="error" class="error">
  {{ error }}
</p> -->

      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>



    </form>
  </mat-card-content>
</mat-card>
