.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }



  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .mat-toolbar.mat-primary {
    background: #fbc707;
    color: #fff;
}
   .mat-toolbar{
    height: 80px;
    padding-right:6%;
   }

   .example-container .example-toolbar .right {
    height: 60px;
    line-height: 34px;
   }
   .example-container .example-toolbar .right .material-icons{
     font-size: 50px;
   }
   .example-container .example-toolbar .agency_name {
    display: block;
   }
   .example-container .example-toolbar .logo {
       max-height: 80%;
       margin-left: 5%;
   }

   .example-container .example-toolbar .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  /**** side  Nav ****/

 .example-sidenav-container mat-sidenav.mat-drawer {
   background-color: darkblue;


  }

 .example-sidenav-container mat-sidenav mat-nav-list .mat-list-item {
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   color: #fff;
   padding: 5px 0px;
  }

  .example-sidenav-container mat-sidenav mat-nav-list .mat-list-item:hover  {
    color: #fbc707;
   }

   .example-sidenav-container mat-sidenav-content.mat-sidenav-content {
     padding: 15px;
   }

   .mat-expansion-panel {
     border: none;
     background: none;
     /* color: #fff; */
     box-shadow: none;
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   }

   .mat-expansion-panel-header {
     padding: 5px 10px;
   }

   .mat-expansion-panel-header-title {
    color: #fff;
    font-size:  17px;
  }

   .mat-expansion-panel-header mat-panel-title {
    flex: none;
  }

  mat-expansion-panel mat-nav-list{
    margin-top: -25px;
  }

  mat-expansion-panel mat-nav-list .mat-list-item{
    height: 40px;
  }

  button.right.icon-left.mat-icon-button {
    outline: none;
}

button.mat-icon-button {
  outline: none;
}

@media (hover: none){
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
     background: #1d4e9e;

}
.mat-drawer-inner-container {
  width: 75%;
}
.dashboard-img[_ngcontent-brr-c12] {
  height: 100px;
  width: 100px;
  margin-left: 20%;
  margin-top: 5%;
}
button.right.icon-left.mat-icon-button {
  margin-right: 10%;
}
}

@media screen and (max-width: 1060px){

}

