<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar ">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <img class="logo " src="assets/img/logo.png" />

    <span class="example-fill-remaining-space"></span>

    <button class="right icon-left" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>person</mat-icon>
      <span class="agency_name">Agent Name</span>
    </button>

    <mat-menu #appMenu="matMenu">
      <a ><button mat-menu-item routerLink="/editProfile">Edit Profile</button></a>
      <a><button mat-menu-item routerLink="/changePassword">Change Password</button></a>
      <button mat-menu-item routerLink="/login">Sign Out</button>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container const" [style.marginTop.px]="mobileQuery.matches ? 80 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="80">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard"><b>Dashboard</b></a>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>

              Agent
            </mat-panel-title>

          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item routerLink="/agent/add">Add</a>
            <a mat-list-item routerLink="/agent/approve">Approve</a>
            <a mat-list-item routerLink="/agent/view">View</a>

          </mat-nav-list>
        </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bussiness Plan
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-nav-list>
              <a mat-list-item routerLink="/business-plan/setTargets">Set/Edit Targets</a>
              <a mat-list-item routerLink="/business-plan/edit">Track Edit Requests</a>
              <a mat-list-item routerLink="/business-plan/track">Track Targets</a>
            </mat-nav-list>
          </mat-expansion-panel>


          <a mat-list-item routerLink="/greetings"><b>Greetings</b></a>
          <a mat-list-item routerLink="/notice"><b>Notice Board</b></a>



            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Resource Center
                </mat-panel-title>

              </mat-expansion-panel-header>

              <mat-nav-list>
                <a mat-list-item routerLink="/resource/plan">Newly Launched Plans</a>
                <a mat-list-item routerLink="/resource/learning">General Learning</a>
                <a mat-list-item routerLink="/resource/info">Competitors Info</a>
                <a mat-list-item routerLink="/resource/contribution">Agent Contribution</a>
              </mat-nav-list>
            </mat-expansion-panel>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>


