.f1{
  margin-top: 42%;
}
input.form-control{
  margin-top: 8%;
}
select.form-control{
  margin-top: 8%;
  width:50%;
}
h5{
  text-align: center;
  padding-top: 5%;
  padding-bottom:5%;
}

textarea.form-control {
  height: 120px;
  width: 80%;
  border-radius: 20px;
  margin-top: 3%;
}
.col-md-10.mrt {
  margin-left: 17%;
}
.col-md-2.crt {
  margin-left: -24%;
}
select.form-control.cggg {
  margin-top: -3%;
}
form.form-inline.md-form.mr-auto.mb-4.ng-untouched.ng-pristine.ng-valid {
  margin-left: 20%;
  margin-top: 5%;
  /* margin-bottom: -38%; */
}

h2#heading {
  background-color: darkblue;
  color: white;
  width: 100%;
  padding: 1%;
  margin-top:-5%;
}


@media screen and (max-width: 1060px){

  .f1.f2 {
    margin-top: 5%;
}
select.form-control.ctrl {
  margin-left: 30%;
}
select.form-control.cggg {
  margin-left: 15%;
  width: 62%;
}


}
