<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>


<div class="col-md-10">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row" style="margin-top: 5%;">
        <h2 id="heading">Send Your Greetings</h2>

      <!-- <form class="form-inline md-form mr-auto mb-4">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button mdbBtn size="sm" color="elegant" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
      </form> -->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="f1 f2">Occasion:</div>
        </div>
        <div class="col-md-10">
          <select class="form-control ctrl">
            <option value="Pongal">Pongal</option>
            <option value="Pongal">Happ New Year</option>
            <option value="Holi">Holi</option>
            <option value="Vinayaka Chavithi">Vinayaka Chavithi</option>
            <option value="Dussera">Dussera</option>
            <option value="Deepavali">Deepavali</option>
            <option value="Christmas">Christmas</option>
            <option value="Happy Birthday">Happy Birthday</option>
            <option value="Custom">Custom</option>
          </select>
        </div>
        <div class="col-md-10 mrt">
            <div class="col-md-2 crt">
                <div class="f1 f2">Send To:</div>
              </div>
            <select class="form-control cggg">
              <option value="Pongal"> All</option>
              <option value="Holi">Sridhar</option>
              <option value="Vinayaka Chavithi">Deelip</option>
              <option value="Dussera">abhiram</option>

            </select>
          </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <div class="f1 f2">Message :</div>
            </div>
            <div class="col-md-10">
              <textarea name="meeting" placeholder="Type here..." class="form-control" rows=5 cols=50></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <input type="checkbox" value="template"> Include Predefined Template
        </div>
      </div>
      <div class="row">

          <div class="col-md-6">
              <input type="submit" class="form-control" value="Preview"
                style="background-color: #1d4e9e; color:white; width:40%;margin-left: 38%;margin-top:4%;">
            </div>

        <div class="col-md-6">
          <input type="submit" class="form-control" value="Send"
            style="background-color: #1d4e9e; color:white; width:25%;margin-left: 38%;margin-top:4%;">
        </div>


      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<script>
  //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>

