h3 {
  color: white;
  background-color: darkblue;
  width: 100%;
  /* margin-left: -28%; */
}
input#inputEmail4 {
  width: 208%;
  /* padding: 4%; */
  margin-left: -2%;
}
input#inputPassword4 {
  width: 200%;
}
@media screen and (max-width: 1060px){
  h3 {
    color: white;
    background-color: darkblue;
    width: 100%;
    /* margin-left: -28%; */
}
}
