<h3>Edit Profile</h3>
<!-- Extended default form grid -->
<form (ngSubmit)=" editForm(profileForm.form.value)" [formGroup]="angForm" #profileForm="ngForm" novalidate >
  <!-- Grid row -->
  <div class="form-row">

      <div class="form-group col-md-6">
          <input mdbInput type="name" class="form-control" formControlName="name" ngModel id="inputPassword4"
            placeholder="Name">
          <label for="inputPassword4">Full Name</label>
        </div>
      </div>

      <div
        *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>


    <!-- Default input -->
    <div class="form-group col-md-6">
      <input mdbInput type="email" class="form-control" formControlName="Email" ngModel id="inputEmail4"
        placeholder="Email" required>
      <label for="inputEmail4">Email</label>
    </div>
    <div
      *ngIf="angForm.controls['Email'].invalid && (angForm.controls['Email'].dirty || angForm.controls['Email'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['Email'].errors.required">
        Email is required.
      </div>
    </div>
    <!-- Default input -->


  <!-- Grid row -->

  <!-- Default input -->
  <div class="form-group">
    <input mdbInput type="text" class="form-control" formControlName="address" ngModel id="inputAddress"
      placeholder="1234 Main St">
    <label for="inputAddress">Address</label>
  </div>

  <div
    *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)"
    class="alert alert-danger">
    <div *ngIf="angForm.controls['address'].errors.required">
      Address is required.
    </div>
  </div>
  <!-- Default input -->
  <div class="form-group">
    <input mdbInput type="text" class="form-control" formControlName="address2" ngModel id="inputAddress2"
      placeholder="Apartment, studio, or floor">
    <label for="inputAddress2">Address 2</label>
  </div>
  <div
    *ngIf="angForm.controls['address2'].invalid && (angForm.controls['address2'].dirty || angForm.controls['address2'].touched)"
    class="alert alert-danger">
    <div *ngIf="angForm.controls['address2'].errors.required">
      field is required.
    </div>
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <input mdbInput type="text" class="form-control" formControlName="city" ngModel id="inputCity" placeholder="New York City">
      <label for="inputCity">City</label>
    </div>

    <div
    *ngIf="angForm.controls['city'].invalid && (angForm.controls['city'].dirty || angForm.controls['city'].touched)"
    class="alert alert-danger">
    <div *ngIf="angForm.controls['city'].errors.required">
      field is required.
    </div>
  </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <input mdbInput type="text" class="form-control" formControlName="zip" ngModel id="inputZip" placeholder="11206-1117">
      <label for="inputZip">Zip</label>
    </div>
    <div
    *ngIf="angForm.controls['zip'].invalid && (angForm.controls['zip'].dirty || angForm.controls['zip'].touched)"
    class="alert alert-danger">
    <div *ngIf="angForm.controls['zip'].errors.required">
      field is required.
    </div>
  </div>
  </div>
  <!-- Grid row -->
  <div class="form-group col-md-6">
  <button type="submit" [disabled]="angForm.pristine|| angForm.invalid" mdbBtn color="primary">Submit</button>
</div>

</form>
<!-- Extended default form grid -->
