<h3 >DashBoard</h3>
<div class="col-md-10">
  <div class="row" >

    <div class="col-md-3 ddr str">
      <div class="row ">
        <img class="dashboard-img" src="assets/img/policyicon.png">
      </div>
      <div class="row sum">
        <h5 >No. of Policies Sold</h5>
      </div>
      <div class="row num1 sum">
        <h1 style=" margin-left: 20%;">91</h1>
      </div>
    </div>
    <div class="col-md-3 img str">
      <div class="row ">
        <img class="dashboard-img" src="assets/img/sumicon.png">
      </div>
      <div class="row sum1">
        <h5 >Total Sum Assured</h5>
      </div>
      <div class="row num1 ">
        <h1 style="margin-left:12%;">1002</h1>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>
<router-outlet></router-outlet>



