.row.sumi {
  margin-left: 25%;
  margin-top: -26%;
}
.col-md-3.img {
  margin-left: 60%;
  margin-top: -19%;
}
.col-md-3 {
  float: left;
  margin-right: 30%;
}

.col-md-3.ddr {
  margin-left: 40%;
}

.row {
  margin-right: -40px;
}
h3 {
  color: white;
  background-color: darkblue;
  padding: 1%;
}


@media screen and (max-width: 1060px){

.row.num1 {
margin-left: -30%;
}
h5 {
  margin-left: -24%;
}

.col-md-3.ddr.str {
  margin-left: 30%;
}

.col-md-3.img.str {
  margin-left: 35%;
  margin-top: 5%;
}

.row.sum {
  margin-left: 10%;
}
.row.sum1 {
  margin-left: 0%;
}
}
