<div class="col-md-10">
  <div class="row fff">
    <div class="col-md-10">
      <h2 id="heading">Latest News and Notices</h2>
    </div>
<div class="add addcin">
    <a  routerLink="/addfile"><button type="button" mdbBtn color="primary" mdbWavesEffect>Add Notice</button></a>
    <router-outlet></router-outlet>
  </div>
  </div>
  <div class="row f2 ctr" style="margin-top:0%;margin-bottom: 5%;width: 50%;margin-left: 20%">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div class="row ff1 ">
        <div class="col-md-2 ff2">
          <a href="assets/pdf/lic.pdf" ><img src="assets/img/pdficon.png"></a>
        </div>
        <div class="col-md-10">
          <div class="row">

              <a href="#!" class="green-text">
                  <h2 style="color:darkblue">Sridhar kokkirigadda</h2>
                  <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
                  <h6 class="src"><b>Source:Facebook</b></h6>
              </a>
          </div>
          <div class="row">
              <h3>LIC webapp is Launched</h3>
            <p>Life Insurance Corporation of India is an Indian state-owned insurance group and investment company
              headquartered in Mumbai. It is the largest insurance company in India with an estimated asset value of
              ₹2,529,390 crore.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 ff3">
          <iframe width="360" height="315" style="margin-left: 130%" src="https://www.youtube.com/embed/I_9Fy-3qU_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
      <div class="row">
        <div class="col-md-2">
          <a href="assets/pdf/lic.pdf" ><img src="assets/img/pdficon.png"></a>
        </div>
        <div class="col-md-10">
          <div class="row">
              <a href="#!" class="green-text">
                  <h2 style="color:darkblue">Deelip Salluri</h2>
                  <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
                  <h6 class="src"><b>Source:Facebook</b></h6>
              </a>
          </div>
          <div class="row">
              <h3>LIC webapp is Launched</h3>
            <p>Life Insurance Corporation of India is an Indian state-owned insurance group and investment company
              headquartered in Mumbai. It is the largest insurance company in India with an estimated asset value of
              ₹2,529,390 crore.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 ff2">
          <a href="assets/pdf/lic.pdf" ><img src="assets/img/pdficon.png"></a>
        </div>
        <div class="col-md-10">
          <div class="row">
              <a href="#!" class="green-text">
                  <h2 style="color:darkblue">Abhiram Kolachalam</h2>
                  <p class="date prk"><b>Posted On:{{curDate | date:'yyyy-MM-dd'}}</b></p>
                  <h6 class="src"><b>Source:Facebook</b></h6>
              </a>
          </div>
          <div class="row">
              <h3>LIC webapp is Launched</h3>
            <p>Life Insurance Corporation of India is an Indian state-owned insurance group and investment company
              headquartered in Mumbai. It is the largest insurance company in India with an estimated asset value of
              ₹2,529,390 crore.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
