#heading{

    font-weight:bold;

    font-size: 120%;

  }
  p{
      font-size:initial;
  }
  h3{
      font-size: larger;
      font-weight: bold;
      color:#1d4e9e;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-left: 0%;
    padding-top: 2%;
    background-color: rgba(0,0,0,0.4);
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: initial;
    font-weight: initial;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .form-control{
      margin-top: 1%;
      border-radius: 25px;
    }
    p[_ngcontent-dch-c11] {
        font-size: initial;

    }
    p {
        font-weight: 300;
    }
/* *****************adddd */
.add {
   margin-left: 73%;
    float: right;
  text-decoration: none;
}

img {
  margin-left: -150%;
}

.row {
  width: 150%;
}
/* **** responsive ******************/
h2#heading {
  color: white;
  background-color: darkblue;
  padding: 1.5%;
}
p.date {
  margin-top: 8%;

}

p.date.crm {
  margin-left: -27%;
}

h2{
  font-weight: bold;
}

@media screen and (max-width: 1060px){

  .col-md-2.ff2 {
    margin-left: 30%;
}

.col-md-2.ff3 {
  margin-left: -70%;
  width: 25%;
}

.add.addcin {
  margin-left: 42%;
}


p.date.prk {
  margin-left: 10%;
}

h6.src {
  margin-top: 0%;
  margin-left: 10%;
}
}
