.md-form {
  width: 50%;
  /* text-align: center; */
  margin-left: 25%;
}
.input-group.mb-3 {
  width: 50%;
  margin-left: 25%;
}
h5 {
  color: white;
  background-color: darkblue;
  /* background-color: purple; */
  font-size: x-large;
  text-align: center;

  padding: 1%;
}
button.btn.btn-primary {
  margin-left: 40%;
  width: 15%;
  background-color: darkblue;
}
input#form {
  padding: 10%;
}
label.for {
  margin-top: 2%;
  font-size: large;
}


select.browser-default.custom-select {
  width: 50%;
  margin-left: 25%;
}
@media screen and (max-width: 1060px){

  .input-group.mb-3.widt-4.ws3 {
    width: 80%;
    margin-left: 10%;
}
button.btn.btn-primary.crm.bttn-1 {
  width: 35%;
}

.md-form.md-outline.ctrx {
  width: 80%;
  margin-left: 10%;
}

.md-form.md-outline.cbbt {
  width: 100%;
  margin-left: 1%;
}

label.for.fors {
  margin-top: 5%;
  font-size: large;

}
.md-form.tx {
  width: 80%;
  margin-left: 10%;
}

}
