

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>





<h5 ><b>Add Learning Material</b></h5>

<!-- Material outline input -->
<div class="md-form md-outline ctrx">
  <input type="text" id="form1 " class="form-control " mdbInput>
  <label for="form1">Title</label>
</div>

<!-- Material outline input -->
<div class="md-form md-outline ctrx ">
  <input type="text" id="form1" class="form-control" mdbInput>
  <label for="form1">Source</label>
</div>


<select class="browser-default custom-select">
    <option selected>Category</option>
    <option value="1">Newly Launched Paln </option>
    <option value="2">Competitors Info</option>
    <option value="3">General Learning</option>
  </select>

<div class="md-form tx">
  <input type="date" id="input" class="form-control" mdbInput>
  <label for="input" class="for fors">Choose your date</label>
</div>

<div class="input-group mb-3 widt-4 ws3">
    <div class="custom-file ">
      <input type="file" class="custom-file-input" id="inputGroupFile02">
      <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose
        file</label>
    </div>
    <div class="input-group-append">
      <span class="input-group-text" id="inputGroupFileAddon02" style="color: white;background-color: darkblue">Upload</span>
    </div>
  </div>
 <!-- Material outline input -->
<div class="md-form md-outline cbbt">
  <input type="text" id="form" class="form-control " mdbInput>
  <label for="form1">Description</label>
</div>

  <button type="button" class="btn btn-primary crm bttn-1">Submit</button>
